In [4]:
x = context.catalog.load('alphavantage_etf_historical_raw')

2021-05-11 19:35:15,719 - kedro.io.data_catalog - INFO - Loading data from `alphavantage_etf_historical_raw` (PartitionedDataSet)...

In [6]:
df = x['S100.LON']()

In [7]:
df

,Unnamed: 0,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
0,2021-05-11,6473.0,6477.315,6403.660,6426.00,6426.00,1178.0,0.0,1.0
1,2021-05-10,6641.0,6641.000,6590.918,6604.00,6604.00,2145.0,0.0,1.0
2,2021-05-07,6591.0,6617.769,6569.413,6604.00,6604.00,3841.0,0.0,1.0
3,2021-05-06,6535.0,6549.000,6522.000,6549.00,6549.00,1306.0,0.0,1.0
4,2021-05-05,6489.0,6513.140,6482.860,6513.14,6513.14,524.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
1724,2009-09-25,3183.5,3183.500,3183.500,3183.50,3183.50,100000.0,0.0,1.0
1725,2009-09-17,3231.0,3231.000,3231.000,3231.00,3231.00,100.0,0.0,1.0
1726,2009-09-16,3193.0,3193.000,3193.000,3193.00,3193.00,4020.0,0.0,1.0
1727,2009-09-15,3144.0,3144.000,3144.000,3144.00,3144.00,1920.0,0.0,1.0
1728,2009-09-08,3103.0,3107.000,3103.000,3107.00,3107.00,20018.0,0.0,1.0